<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>
我的提问箱
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>


<!-- 背景问题 -->

<div id="container">

</div>



<!-- 标题 -->

<div id="title">

我的提问箱

</div>




<!-- 中央查询窗口 -->

<div id="panel">


    <div class="panel-title">

        请输入您的问题编号

    </div>


    <input
    id="qid"
    placeholder="例如 Q001"
    >



    <button onclick="searchAnswer()">

        查看回答

    </button>



    <div id="result">

    </div>



</div>





<div id="focus">

</div>




<script src="{{ url_for('static', filename='app.js') }}"></script>


</body>


</html>